* {

  a:link,
  a:visited {
    text-decoration: none;
    color: black;
  }

  ul,
  li {
    list-style: none;
  }
}

body {
  box-sizing: border-box;
  font-family: "Noto Sans", "Noto Sans KR", "NotoSans_Regular",
    "NotoSansKR_Regular", "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
}

.wrap {
  /* width: 100vw; */
  height: 100vh;
}

.container {
  padding: 0 180px;
  margin: 0 auto;
}

/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

header .menu {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

header .menu .img-logo {
  width: 165px;
  height: 35px;
}

header .menu .nav {
  display: flex;
  /* align-items: center; */
  gap: 100px;
}

header .menu .nav li {
  font-size: 20px;
  font-weight: 700;
}

header .menu .nav li a {
  color: white;
  display: block;
  height: 100%;
  line-height: 83px;
  text-align: center;
}

/* section */
section {}

.bxslider {
  /* width: 100%; */
  /* height: 100%; */
  height: 100vh;
}

section .item1 {
  background: url('../images/banner.bef4fee.jpg') no-repeat center/cover;
  height: 100%;
  /* width: 100%; */
}

section .item2 {
  background: url('../images/banner01.jpg') no-repeat center/cover;
  height: 100%;
}

section .item3 {
  background: url('../images/banner04.jpg') no-repeat center/cover;
  height: 100%;
}

section .item-flex {
  display: flex;
  align-content: center;
  align-items: center;
}

.text-wrap {
  position: absolute;
  left: 100px;
  line-height: 5rem;
  color: white;
}

.lg-text {
  font-size: 80px;
  font-weight: 700;
}

.sm-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 3rem;
}

/* article */
.m-text {
  font-size: 44px;
  font-weight: 700;
}

article {
  padding: 160px 0;
  display: flex;
  gap: 5rem;
  flex-direction: column;
}

.flex-left {
  display: flex;
  justify-content: flex-start;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.content {
  /* width: 100%; */
  /* height: 1000px; */
  padding-bottom: 160px;
}

.cardWrap {
  display: flex;
  justify-content: space-between;
}

.cardWrap .card h3 {
  font-size: 21px;
  font-weight: 700;
}

.cardWrap .card p {
  margin: 7px 0 0;
  font-size: 15px;
  line-height: 24px;
}

aside {
  position: relative;
  height: 462px;
  margin-top: 160px;
}

aside .back {
  width: 1114px;
  height: 338px;
  padding: 102px 520px 102px 104px;
  box-sizing: border-box;
  background-color: #ffd44a;
}

aside .front-img {
  position: absolute;
  top: 102px;
  right: 0;
  width: 592px;
  height: 360px;
  background: url(../images/banner.bef4fee.jpg) no-repeat;
  background-size: contain;

}

aside p {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}


/*  */
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important;
}

.short-con {
  height: 400px;
}

.news {
  padding: 180px 32px;
}